<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CBD project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=f6f25f41e4eab482bdb59b25e50a2488"></script>

  <!-- Custom styles for this template -->
  <link href="/public/dashboard.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/location">GBM_System with IoT</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <div class="nav-link"></div>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <p></p>
            <p></p>
            <p></p>
            <li class="nav-item">
              <a class="nav-link active" href="/location">
                  <span data-feather="map"></span>
                  Location <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart">
                  <span data-feather="trending-up"></span>
                  Garbage cans information
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">
                  <span data-feather="calendar"></span>
                  Daily statistics
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report">
                  <span data-feather="clipboard"></span>
                  Weekly report
                </a>
            </li>
          </ul>
        </div>
      </nav>


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2" id="h1title">현재 꽉 찬 쓰레기통 : </h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->


        <div id="map" style="width:1000px;height:600px;"></div>
      </main>
    </div>
  </div>

  <script>

  var heights = [];
  var heights2 = [];
  var imageSrc = [];

  if((parseInt("<%=datas[0].height%>") == 100)) {
    imageSrc.push("/public/trash.svg");
    heights.push("<%=datas[0].garbageid%>");
  } else {
    imageSrc.push("https://image.flaticon.com/icons/svg/214/214356.svg");
  }
  if((parseInt("<%=datas[1].height%>") == 100)) {
    imageSrc.push("/public/trash.svg");
    heights.push("<%=datas[1].garbageid%>");
  } else {
    imageSrc.push("https://image.flaticon.com/icons/svg/214/214356.svg");
  }
  if((parseInt("<%=datas[2].height%>") == 100)) {
    imageSrc.push("/public/trash.svg");
    heights.push("<%=datas[2].garbageid%>");
  } else {
    imageSrc.push("https://image.flaticon.com/icons/svg/214/214356.svg");
  }
  if((parseInt("<%=datas[3].height%>") == 100)) {
    imageSrc.push("/public/trash.svg");
    heights.push("<%=datas[3].garbageid%>");
  } else {
    imageSrc.push("https://image.flaticon.com/icons/svg/214/214356.svg");
  }
  if((parseInt("<%=datas[4].height%>") == 100)) {
    imageSrc.push("/public/trash.svg");
    heights.push("<%=datas[4].garbageid%>");
  } else {
    imageSrc.push("https://image.flaticon.com/icons/svg/214/214356.svg");
  }

  if(heights.length == 0) {
    $("#h1title").text("없음");
  } else {
    for(var i in heights) {
      if(heights[i] == 'a') {
        heights2.push("공학1관 쓰레기통");
      }
      else if(heights[i] == 'b') {
        heights2.push("인문경영관 매점 쓰레기통");
      }
      else if(heights[i] == 'c') {
        heights2.push("대강당 쓰레기통");
      }
      else if(heights[i] == 'd') {
        heights2.push("본관 교차로 쓰레기통");
      }
      else if(heights[i] == 'e') {
        heights2.push("GEC 인경관 사이 쓰레기통");
      }
      heights2.push(", ")
    }
    var index = heights2.indexOf(heights2.length)
    heights2.splice(index, 1);
  }
  $("#h1title").append(heights2);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
        center: new daum.maps.LatLng(36.765797, 127.281271), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };

    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var mapTypeControl = new daum.maps.MapTypeControl();
    var zoomControl = new daum.maps.ZoomControl();
    map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
    map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [];

    <% for(var i = 0; i < result.length; i++) {%>
       positions.push({
         content: '<div class="wrap" style="width: 250px; padding: 7px">' +
           '    <div class="info">' +
           '        <div class="title">' +
           '            쓰레기통 : <%= result[i].title%>(ID : <%=datas[i].garbageid%>)' +
           '        </div>' +
           '        <div class="body">' +
           '            <div class="desc">' +
           '                <div class="ellipsis">최근 적재량 : <%= result[i].latestHeightPercent %></div>' +
           '                <div class="jibun ellipsis">시간 : <%= result[i].latestTime %></div>' +
           '                <form action="/chart/device" method="post">\
                              <input type="text" name="name" value="<%= datas[i].garbageid %>" hidden>\
                              <input type="submit" value="상세정보">\
                            </form>' +
           '            </div>' +
           '        </div>' +
           '    </div>' +
           '</div>',
          title: "<%= result[i].title %>",
          latlng: new daum.maps.LatLng(<%= result[i].lat %>, <%= result[i].lng %>)
       });
    <% } %>
    console.log(imageSrc);

    for (var i = 0; i < positions.length; i++) {

      var imageSize = new daum.maps.Size(24, 35);
      var markerImage = new daum.maps.MarkerImage(imageSrc[i], imageSize);


      // 마커를 생성합니다
      var marker = new daum.maps.Marker({
        map: map, // 마커를 표시할 지도
        title: positions[i].title,
        position: positions[i].latlng, // 마커의 위치
        image: markerImage
      });

      // 마커에 표시할 인포윈도우를 생성합니다
      var infowindow = new daum.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
      });

      // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
      // 이벤트 리스너로는 클로저를 만들어 등록합니다
      // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
      daum.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
      daum.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
      return function() {
        infowindow.open(map, marker);
      };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
      return function() {
        infowindow.close();
      };
    }
  </script>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script>
    window.jQuery || document.write('<script src="../public/jquery-slim.min.js"><\/script>')
  </script>



  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>
