<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CBD project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Calendar -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/chosen.min.css">
  <script type="text/javascript" src="/public/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="/public/chosen.proto.min.js"></script>

  <script type="text/javascript">

  function validateForm()
  {
    if(document.getElementById("daterange1").value == null || document.getElementById("daterange1").value=="")
    {
      alert("Please select date first");
      return false;
    }
  }

  $(function() {
    $("#daterange1").daterangepicker({
        autoUpdateInput: false,
        locale: {
          format: 'YYYY-MM-DD'
        }
      },
      function(start, end, label) {
        console.log("New date range selected: " +
          start.format('YYYY-MM-DD') + " to " +
          end.format('YYYY-MM-DD') + " (predefined range: " +
          label + ")");
        //window.location="/newuploadlist?start="+startdate+"&end="+enddate;
      });
    $("#daterange1").on('apply.daterangepicker',
      function(ev, picker) {
        $(this).val(
          picker.startDate.format('YYYY-MM-DD') + ' - ' +
          picker.endDate.format('YYYY-MM-DD'));

      });

    var str = "<%=dates[0]%> ~ <%=dates[1]%>";
    str = str.length < 10 ? '' : str;
    $("#period").text(str);

    var box = $("#box1");
    <%
    for (var i = 0; i < devices.length; i++) {
    %>
    box.append($('<option value="<%=devices[i].garbageid%>"></option>').text("<%=deviceName[i]%>"));
    <%
    }
    %>

    $(".my_select_box").chosen({
      disable_search_threshold: 10,
      no_results_text: "Oops, nothing found!",
      width: "95%"
    });
    $(".my_select_box").on('chosen:ready', function(evt, params) {
      console.log(evt);
      console.log(params.selected);
      console.log($(this).val());
    });
    $(".my_select_box").on('change', function(evt, params) {
      //console.log(evt);
      //console.log(params);
      console.log($(this).val());
    });

  });

  </script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <!-- Custom styles for this template -->
  <link href="/public/dashboard.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/location">GBM_System with IoT</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <div class="nav-link" ></div>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <p></p>
            <p></p>
            <p></p>
            <li class="nav-item">
              <a class="nav-link" href="/location">
                  <span data-feather="map"></span>
                  Location <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart">
                  <span data-feather="trending-up"></span>
                  Garbage cans information
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">
                  <span data-feather="calendar"></span>
                  Daily statistics
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/report">
                  <span data-feather="clipboard"></span>
                  Weekly report
                </a>
            </li>
          </ul>
        </div>
      </nav>


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2" id="presentCan"></h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
          <form action="/report" method="post">
            <div class="btn-group mr-2" style="width: 200px;">
                <select class="my_select_box" data-placeholder="Select Your Options" id="box1" name="selectbox">
                </select>
            </div>
          <input type="submit" class="btn btn-sm btn-outline-secondary" value="Search">
        </form>
        </div>
        <div>
          <canvas class="my-4 chartjs-render-monitor" id="myChart" width="900" height="380" style="display: block; width: 900px; height: 380px;"></canvas>
        </div>
        <br />
        <br />
        <center><h1 class="h2" id="reportid" ></h1></center>
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script>
    window.jQuery || document.write('<script src="../public/jquery-slim.min.js"><\/script>')
  </script>




  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>

  if("<%=deviceId[0]%>" == 'a'){
    $("#presentCan").text("공학 1관 쓰레기통 일주일 통계");
  } else if("<%=deviceId[0]%>" == 'b'){
    $("#presentCan").text("인문경영관 매점 쓰레기통 일주일 통계");
  } else if("<%=deviceId[0]%>" == 'c'){
    $("#presentCan").text("대강당 쓰레기통 일주일 통계");
  } else if("<%=deviceId[0]%>" == 'd'){
    $("#presentCan").text("본관 교차로 쓰레기통 일주일 통계");
  } else if("<%=deviceId[0]%>" == 'e'){
    $("#presentCan").text("GEC 인경관 사이 쓰레기통 일주일 통계");
  }

  $("#reportid").text("[<%=dates[0]%>" + "~" + "<%=dates[1]%>]"+" 에 가장 자주 꽉 찬 쓰레기통은 ");

    function average(array){
       var result = 0;
       var arrLength = array.length;
       for(var i = 0; i < arrLength; i++){
         result += array[i];
       }
       return result/arrLength;
     }

    function pad(n, width, z) {
      z = z || '0';
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    var ctx = document.getElementById("myChart");
    var a = [];
    var b = [];
    var c = [];
    var d = [];
    var e = [];
    var results1 = {};
    var results2 = {};
    var results3 = {};
    var results4 = {};
    var results5 = {};
    var dates = ["<%=dates[0]%>", "<%=dates[1]%>"];

    var start = new Date(0);
    start.setFullYear(dates[0].split("-")[0], dates[0].split("-")[1] - 1, dates[0].split("-")[2]);
    var end = new Date(0);
    end.setFullYear(dates[1].split("-")[0], dates[1].split("-")[1] - 1, dates[1].split("-")[2]);

    while (start <= end) {
      var str = (start.getYear() + 1900) + "-" + pad((start.getMonth() + 1), 2) + "-" + pad(start.getDate(), 2);
      results1[str] = [];
      results2[str] = [];
      results3[str] = [];
      results4[str] = [];
      results5[str] = [];
      start = new Date(start.getTime() + 86400000);
    }

    var dailyHeights = [];
    <%
     for(var i = 0; i < datas.length; ++i) {
    %>
      var times = "<%=datas[i].t%>".split(" ");
      if(("<%=datas[i].garbageid%>") == 'a') {
        a.push(parseInt("<%=datas[i].height%>"));
        results1[times[0]].push(parseInt("<%=datas[i].height%>"));
      } else if(("<%=datas[i].garbageid%>") == 'b') {
        b.push(parseInt("<%=datas[i].height%>"))
        results2[times[0]].push(parseInt("<%=datas[i].height%>"));
      } else if(("<%=datas[i].garbageid%>") == 'c') {
        c.push(parseInt("<%=datas[i].height%>"))
        results3[times[0]].push(parseInt("<%=datas[i].height%>"));
      } else if(("<%=datas[i].garbageid%>") == 'd') {
        d.push(parseInt("<%=datas[i].height%>"))
        results4[times[0]].push(parseInt("<%=datas[i].height%>"));
      } else if(("<%=datas[i].garbageid%>") == 'e') {
        e.push(parseInt("<%=datas[i].height%>"))
        results5[times[0]].push(parseInt("<%=datas[i].height%>"));
      }
    <%
    }
    %>

    var result1 = average(a);
    var result2 = average(b);
    var result3 = average(c);
    var result4 = average(d);
    var result5 = average(e);
    var weeklyHeights = [];

    if("<%=deviceId[0]%>" == 'a') {
      for(date in results1) {
        weeklyHeights.push(Math.round(result1));
        dailyHeights.push(Math.round(average(results1[date])));
      }
    } else if("<%=deviceId[0]%>" == 'b') {
      for(date in results2) {
        weeklyHeights.push(Math.round(result2));
        dailyHeights.push(Math.round(average(results2[date])));
      }
    } else if("<%=deviceId[0]%>" == 'c') {
      for(date in results3) {
        weeklyHeights.push(Math.round(result3));
        dailyHeights.push(Math.round(average(results3[date])));
      }
    } else if("<%=deviceId[0]%>" == 'd') {
      for(date in results4) {
        weeklyHeights.push(Math.round(result4));
        dailyHeights.push(Math.round(average(results4[date])));
      }
    } else if("<%=deviceId[0]%>" == 'e') {
      for(date in results5) {
        weeklyHeights.push(Math.round(result5));
        dailyHeights.push(Math.round(average(results5[date])));
      }
    }

    if(Math.max(result1, result2, result3, result4, result5) == result1){
      $("#reportid").append("공학 1관 쓰레기통 입니다");
    } else if(Math.max(result1, result2, result3, result4, result5) == result2){
      $("#reportid").append("인문경영관 매점 쓰레기통 입니다");
    } else if(Math.max(result1, result2, result3, result4, result5) == result3){
      $("#reportid").append("대강당 쓰레기통 입니다");
    } else if(Math.max(result1, result2, result3, result4, result5) == result4){
      $("#reportid").append("본관 교차로 쓰레기통 입니다");
    } else if(Math.max(result1, result2, result3, result4, result5) == result5){
      $("#reportid").append("GEC 인경관 사이 쓰레기통 입니다");
    }

    var mixedChart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
            label: '일주일 평균 적재비율(%)',
            data: weeklyHeights,
            lineTension: 0,
            fill : false,
            borderColor: '#ff6347',
            borderWidth: 4
          },
          {
          label: '일 평균 적재비율(%)',
          data: dailyHeights,
          lineTension: 0,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 0.2)',
          borderWidth: 4,
          pointBackgroundColor: 'rgba(54, 162, 235, 0.2)',
          type: 'line'
        }],
        labels: Object.keys(results1)
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          display: true
        }
      }
    });
  </script>
</body>

</html>
