doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css", type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js")
    link(href='/public/UI-Dropdown-master/dropdown.css', rel='stylesheet')
    script(src='/public/UI-Dropdown-master/dropdown.js')
    script(src='/public/UI-Dropdown-master/test.js')
    script(src='/public/UI-Dropdown-master/datepicker.js')

  body
    h1
      a(href='/data') Server Side Javascript
    article
      form(action='/data/list' method='post')
        p
          input(type='text' name='search' placeholder='search')
          input(type='submit' value='search')
          h3 Total :
          = datas.length
        p
    p Date :
      input(type='text', name='time' id='Datepicker')
    div  
      table(border='1')
        thead
          tr
            th Id
            th Name
            th Result
            th Path
            th Time
        tbody
          each data in datas
            tr
              td= data.id
              td
                a(href='/data/'+data.id)= data.name
              td= data.result
              td= data.path
              th= data.time
